.header-link {
   color: rgba(255,255,255,.5);
}

.header-link:hover {
   color: rgba(255,255,255, 1);
   text-decoration: none;
}

@media(max-width: 768px) {
   .carousel-img {
      height: 100%;
   }
}